<form name="logForm" class="logForm" method="POST" action="/logForm">
  <div class="container">
    <h1 id=formTitle>Авторизируйтесь, что бы войти в систему!</h1>

    <hr>

    <label for="email"><b>Ваша почта</b></label>
    <input type="text" placeholder="Enter email" name="email" required>

    <label for="psw"><b>Введите Пароль</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" class="registerbtn">Войти</button>
  </div>
</form>
